<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog Post</h1>

<form th:action="@{/update/{id}(id=${blog.id})}" th:object="${blog}" method="post">
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
    </div>
    <div>
        <label>Content:</label>
        <textarea th:field="*{content}"></textarea>
    </div>
    <button type="submit">Update</button>
</form>

<a href="/">Cancel</a>
</body>
</html>
